
{% extends "layout.html"%}
{% block content %}
			<main>
				<div id="slide-wrap">
					<section id="inicio">
					  <ul class="slider1">
						<li><img src="/static/img/foto_slider1.jpg" alt=""></li>
						<li><img src="/static/img/foto_slider2.jpg" alt=""></li>
						<li><img src="/static/img/foto_slider3.jpg" alt=""></li>
					  </ul>
					</section>
				  </div>
				</section>
				<section id="nosotros" class="seccion">
					<div class="container">
					    <p>TAE-KWON-DO EGRESADOS MEJIA</p>
					</div>
				</section>
				<section id="servicios" class="seccion">
					<div class="container">
						<div class="row">
							<div class="columna columna-33 columna-mobile-100">
								<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto5.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Recuerdos</h3>
										<p>
											Toda un vida de historía.
										</p>
										<a href="{{ url_for('tray')}}" class="boton boton-blanco">Ver más</a>
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio ">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto11.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Historia</h3>
										<p>
											Club de Tae-Kwon-do Mejia										</p>
										<a href="{{ url_for('ocupa')}}" class="boton boton-blanco">Ver más</a>
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto3.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3> EGRESADOS MEJIA TEA-KWON-DO</h3>
										<p>
											Velar por el bienestar de los integrantes del grupo, manteniendo contacto por distintos canales de comunicación para ayudarnos mutuamente.
											Retomar la práctica de Tae Kwon Do, organizando entrenamientos periódicos mensuales para fomentar la actividad física como parte determinante de un estado saludable.
											Fortalecer los lasos de amistad entre los ex Mejías, realizando actividades sociales para promover el reencuentro con antiguas amistades..
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="galeria">
					<div class="container-fluid">
						<div class="row">
							<div class="columna-33 columna-mobile-50">
								<div class="cuadrado-perfecto">
									<img src="/static/img/foto2.jpg">
								</div>
							</div>
							<div class="columna-33 columna-mobile-50">
								<div class="cuadrado-perfecto">
									<img src="/static/img/foto12.jpg">
									
								</div>
							</div>
							<div class="columna-33 columna-mobile-50">
								<div class="cuadrado-perfecto">
									<img src="/static/img/foto22.jpg">
									
								</div>
							</div>
							<div class="columna-33 columna-mobile-50">
								<div class="cuadrado-perfecto">
									<img src="/static/img/foto3.jpg">
									
								</div>
							</div>
							<div class="columna-33 columna-mobile-50">
								<div class="cuadrado-perfecto">
									<img src="/static/img/foto13.jpg">
									
								</div>
							</div>
							<div class="columna-33 columna-mobile-50">
								<div class="cuadrado-perfecto">
									<img src="/static/img/foto23.jpg">
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="contactenos" class="seccion">
					<iframe width="520" height="400" frameborder="0" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Quito+(Quito)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
					<div class="container">
						<div class="row">
							 <div class="columna columna-41 columna-mobile-100 empujar-58 empujar-mobile-0 sinpadding-mobile">
							 	<form action="/envia_mail" method="POST">
							 		<div class="from-block">
							 			<input type="text" name="nombre" class="from-control" placeholder="Nombre">
							 			
							 		</div>
							 		<div class="from-block">
							 			<input type="email" name="email" class="from-control" placeholder="Email">
							 		</div>
							 		<div class="from-block">
										<textarea name="mensaje" placeholder="Mensaje"></textarea>
									</div>
							 		<div class="from-block bloque-ultimo">
							 			<input type="submit" class="boton boton-negro" value="Enviar">
							 		</div>
							 	</form>
							 </div>
						</div>
					</div>
					
				</section>
			</main>
			

{% endblock %}