{% extends "layout.html"%}
{% block content %}
			
			<main>
				<div id="slide-wrap">
					<section id="inicio">
						<div align="center">
							<video src="/static/img/video1.mp4" autoplay class="video"> </video>
					    </div>
					</section>
				</div>
				</section>
				<section id="servicios" class="seccion">
					<div class="container">
						<div class="row">
							<div class="columna columna-33 columna-mobile-100">
								<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto31.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Historia</h3>
										<p>
											La historia inicia el 2 de enero de 1984 como entrenador el maestro Fernando Jaramillo campeones intercolegiales 12 años consecutivos.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio ">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto4.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Logros</h3>
										<p>
											Campeones intercolegiales 12 años consecutivos campeones nacionales, varios seleccionados de Pichincha y Ecuador.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto3.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Egresados</h3>
										<p>
											Presentes en las olimpiadas de egresados del I.N. Mejia
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				
				<section id="contactenos" class="seccion">
					<iframe width="520" height="400" frameborder="0" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Quito+(Quito)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
					<div class="container">
						<div class="row">
							 <div class="columna columna-41 columna-mobile-100 empujar-58 empujar-mobile-0 sinpadding-mobile">
							 	<form action="/envia_mail" method="post">
							 		<div class="from-block">
							 			<input type="text" name="nombre" class="from-control" placeholder="Nombre">
							 			
							 		</div>
							 		<div class="from-block">
							 			<input type="email" name="email" class="from-control" placeholder="Email">
							 			
							 		</div>
							 		<div class="from-block">
							 			<textarea name="mensaje" placeholder="Mensaje"></textarea>
							 		</div>
							 		<div class="from-block bloque-ultimo">
							 			<input type="submit" class="boton boton-negro" value="Enviar">
							 		</div>
							 	</form>
							 </div>
						</div>
					</div>
					
				</section>
			</main>
{% endblock %}