{% extends 'layout1.html' %}
{%block title%}Alumno Nuevo{%endblock%}
{% block content %}

<body>
 

  <form  class="row g-3 needs-validation" method="POST">
    
    {{ form.csrf_token }}
    
    <h2>DATOS DEL ALUMNO</h2>

    <hr>
    

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.tipo_iden.label }} {{ form.tipo_iden(class_="form-control") }}
      {% for error in form.tipo_iden.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.iden.label }} {{ form.iden(class_="form-control") }}
      {% for error in form.iden.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.apellido1.label }} {{ form.apellido1(class_="form-control") }}
      {% for error in form.apellido1.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.apellido2.label }} {{ form.apellido2(class_="form-control") }}
      {% for error in form.apellido2.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.nombres.label }} {{ form.nombres(class_="form-control") }}
      {% for error in form.nombres.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.est_civil.label }} {{ form.est_civil(class_="form-control") }}
      {% for error in form.est_civil.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.fec_nac.label }} {{ form.fec_nac(class_="form-control") }}
      {% for error in form.fec_nac.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.sexo.label }} {{ form.sexo(class_="form-control") }}
      {% for error in form.sexo.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

  
    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.direccion.label }} {{ form.direccion(class_="form-control") }}
      {% for error in form.direccion.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.telefono1.label }} {{ form.telefono1(class_="form-control") }}
      {% for error in form.telefono1.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.telefono2.label }} {{ form.telefono2(class_="form-control") }}
      {% for error in form.telefono2.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>


    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.email.label }} {{ form.email(class_="form-control") }}
      {% for error in form.email.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.ocupacion.label }} {{ form.ocupacion(class_="form-control") }}
      {% for error in form.ocupacion.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.fec_ingreso.label }} {{ form.fec_ingreso(class_="form-control") }}
      {% for error in form.fec_ingreso.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.status.label }} {{ form.status(class_="form-control") }}
      {% for error in form.status.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>


    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.tipo_s.label }} {{ form.tipo_s(class_="form-control") }}
      {% for error in form.tipo_s.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.Nivel_edu.label }} {{ form.Nivel_edu(class_="form-control") }}
      {% for error in form.Nivel_edu.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.cinturon.label }} {{ form.cinturon(class_="form-control") }}
      {% for error in form.cinturon.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>


    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.horario.label }} {{ form.horario(class_="form-control") }}
      {% for error in form.horario.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.peso.label }} {{ form.peso(class_="form-control") }}
      {% for error in form.peso.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.estatura.label }} {{ form.estatura(class_="form-control") }}
      {% for error in form.estatura.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.flexibilidad.label }} {{ form.flexibilidad(class_="form-control") }}
      {% for error in form.flexibilidad.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>


    <div class="col-12">
      {{ form.hidden_tag() }}
      {{ form.submit(class_="btn btn-primary") }}

    </div>
  
   </form>

</body>

</html>
{% endblock %}