{% extends 'layout_pac.html' %}
{%block title%}Datos Alumno{%endblock%}
{% block content %}

<body>
 

  <form  class="row g-3 needs-validation" method="POST">
    
    {{ form.csrf_token }}
    
    <h2>DATOS DEL ALUMNO PESO</h2>

    <hr>
    

    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.iden.label }} {{ form.iden(class_="form-control") }}
      {% for error in form.iden.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>



    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.peso.label }} {{ form.peso(class_="form-control") }}
      {% for error in form.peso.errors %}
      <span style="color: red;"> {{ error }} </span>
      {% endfor %}
    </div>


    <div class="form-group col-xs-12 col-sm-12 col-md-3  position-relative">
      {{ form.hidden_tag() }}
      {{ form.submit(class_="btn btn-primary") }}

    </div>
  
   </form>

</body>

</html>
{% endblock %}