{% extends 'layout.html' %}
{%block title%} Formulario FR-INPS-009.02 {%endblock%}
{% block content %}
<body>
    <h1>FR-INPS-009.02 Reporte Inspección Grúas Boom Articulado</h1>
    <form class="row g-3 needs-validation" novalidate>
        <h3>DATOS DEL EQUIPO</h3>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">MARCA</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Marca" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">SERIE</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Serie" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">TIPO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Tipo" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">MODELO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Modelo" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">CAPACIDAD</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Capacidad" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">HORÓMETRO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Horometro" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">AÑO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Anio" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">CÓDIGO INTERNO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Cod_interno" required>
        </div>
        <h3>DATOS DEL MOTOR</h3>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">MARCA</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Marca Motor" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">SERIE</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Serie Motor" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">MODELO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Modelo Motor" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">KILOMETRAJE</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Kilometraje" required>
        </div>
        <h3>CAPACIDADES DE TRABAJO</h3>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">CAPACIDAD MÁXIMA</label>
            <input type="text" class="form-control" id="validationTooltip01" value="Capacidad_Maxima" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">LONG PLUMA</label>
            <input type="text" class="form-control" id="validationTooltip01" value="LONG PLUMA" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">RADIO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="RADIO" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">ANGULO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="ANGULO" required>
        </div>
        <h3>DATOS LMI</h3>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">FABRICANTE</label>
            <input type="text" class="form-control" id="validationTooltip01" value="FABRICANTE" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">MARCA</label>
            <input type="text" class="form-control" id="validationTooltip01" value="MARCA" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">MODELO</label>
            <input type="text" class="form-control" id="validationTooltip01" value="MODELO" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">SERIE</label>
            <input type="text" class="form-control" id="validationTooltip01" value="SERIE" required>
        </div>
        <h3>DATOS BLOQUES DE CARGA</h3>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">CAPACIDAD BLOQUE PRIN</label>
            <input type="text" class="form-control" id="validationTooltip01" value="CAPACIDAD BLOQUE PRIN" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">CAPACIDAD BLOQUE AUX</label>
            <input type="text" class="form-control" id="validationTooltip01" value="CAPACIDAD BLOQUE AUX" required>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">DIÁMETRO DE CABLE</label>
            <input type="text" class="form-control" id="validationTooltip01" value="DIÁMETRO DE CABLE" required>
        </div>
       <h3>INSTRUMENTACIÓN DEL EQUIPO</h3>
       <h4>LOAD MOMENT INDICATOR  LMI</h4>
       <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Fabricante</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Fabricante" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Marca</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Marca" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Modelo" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Serie</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Serie" required>
    </div>
    <h4>PASTECA PRINCIPAL</h4>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Marca</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Marca" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Capacidad</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Capacidad" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Modelo" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Serie/Referencia</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Serie/Referencia" required>
    </div>
    <h4>PASTECA SECUNDARIA</h4>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Marca</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Marca" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Capacidad</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Capacidad" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Modelo" required>
    </div>
    <div class="col-md-4 position-relative">
        <label for="validationTooltip01" class="form-label">Serie/Referencia</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Serie/Referencia" required>
    </div>
    <h2>RESULTADOS: </h2>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            CONFORME
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            NO CONFORME
        </label>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="{{ url_for('CHECH_LIST')}}">CHECH LIST</a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('servicios')}}">REP -LMI-001</a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('servicios')}}">REP - PRUE-CARG-001</a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('servicios')}}">REP-FOT-001</a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('servicios')}}">RESULTADOS</a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('servicios')}}">CERTIFICADO GM</a></li>
        </ul>
      </nav>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
     </form>
</body>
</html>
{% endblock %}