{% extends 'layout1.html' %}
{%block title%}MEJÍA TAE-KWON-DO{%endblock%}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    
    <title>NOSOTROS</title>
  </head>

<body>
    <h1>MEJÍA TAE-KWON-DO</h1>
    <div class="container">
        <div class="row">
          <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            <div class="card" style="width: 22rem;">
              <img src="/static/img/foto18.jpg" class="card-img-top" alt="...">
              <div class="card-body"  style="background-color: #a1becc" >
                <h3>VISIÓN</h3>
                <p>
                </p>
              </div>
            </div>
          </div>
         
          <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            <div class="card" style="width: 22rem;">
              <img src="/static/img/foto2.jpg" class="card-img-top" alt="...">
              <section id="examenes">
              <div class="card-body" style="background-color: #a1becc">
                
                <h3>MISIÓN</h3>
                <p>
                </p>

              </div>
    
            </section>
            </div>
          </div>
    
       
          <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            <div class="card" style="width: 22rem;">
              <img src="/static/img/foto19.jpg" class="card-img-top" alt="...">
              <div class="card-body"  style="background-color: #a1becc">
                <h3>TAE-KWON-DO MEJÍA</h3>
                <p>
                </p>

              </div>
            </div>
          </div>
         
        </div>
      </div>   
      <div class="form-group col-xs-12 col-sm-12 col-md-4 position-relative">
        <iframe width="1100" height="300" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.791002865769!2d-78.50760608572993!3d-0.21202233545622165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a24ed9d5461%3A0xcb0c9a311e636b7d!2sInstituto%20Nacional%20Mej%C3%ADa!5e0!3m2!1ses!2sec!4v1674508215702!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
 
</body>
</html>
{% endblock %}